footer {
    background: #1C1C1E;
}

.footer__inner {
    height: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    display: flex;
    width: 25%;
}

.footer__txt {
    width: 25%;
    font-size: 14px;
    line-height: 16px;
    color: #BEBEBE;
}

.social a {
    display: block;
    margin-right: 2.4rem;
}

.footer-form {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.footer-form input {
    border: none;
    height: 4rem;
    width: 48.79%;
    display: flex;
    align-items: center;
    border-radius: 4.8rem;
    padding: 0 1.6rem;
    margin-right: 1.6rem;
}

.footer-form .btn-light {
    padding: 0;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    border-radius: 4.8rem;
}
.chat{
    position: fixed;
    bottom: 6.4rem;
    right: 2.3rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
@media (max-width: 1200px) {
    .chat{
        bottom: 1.6rem;
        right: 1.6rem;
    }
    .chat img{
        width: 4rem;
        height: 4rem;
    }
    .social {
        width: 20%;
    }
    .footer__txt {
        width: 30%;
        padding-right: 4rem;
    }
}
@media (max-width: 992px) {
    .footer-form .btn-light {
        width: 16rem;
    }
}
@media (max-width: 768px) {
    .footer__inner {
        height: unset;
        flex-direction: column;
        justify-content: center;
        padding: 1.6rem 1.8rem 3.8rem;
    }
    .social {
       width: unset;
    }
    .footer-form {
        width: 100%;
        flex-direction: column;
        padding: 1.6rem 0;
        flex-grow: unset;
    }
    .footer-form input {
       width: 100%;
       margin: 0 0 1.6rem 0;
    }
    
    .footer-form .btn-light {
        width: 100%;
    }
    .footer__txt{
        width: 100%;
    }
   
  
}