:root {
    --nav-bg: #2C2C2E;
}

nav {
    margin-top: 4rem;
    margin-bottom: 2.3rem;
}

.nav__inner {
    display: flex;
    justify-content: space-between;
}

.nav__search,
.nav__auth, .nav__burger {
    min-width: 12.5%
}

.nav__search {
    display: flex;
    border-bottom: 1px solid #000;
}

.nav__search input {
    border: none;
    outline: none;
}

.nav__search input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.16em;
}

.nav__search button {
    border: none;
    outline: none;
    background-color: transparent;
}

.nav__links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    transition: 0.3s;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.16em;
    text-transform: uppercase;
}

.nav__link {
    text-decoration: none;
    color: black;
    display: block;
    padding: 2rem 1rem 2.3rem;
}

.nav__link:hover {
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

.nav__auth {
    display: flex;
    justify-content: flex-end;
}

.nav__auth a {
    margin-left: 2.4rem;
    width: 1.6rem;
    height: 1.6rem;
    display: inline-block;
}

.nav__auth a img {
    width: 100%;
}

@media (max-width: 992px) {
    .nav__link {
        padding: 2rem 0.5rem 2.3rem;
    }
}

@media (max-width: 768px) {
    nav {
        margin: 0;
    }
    .nav__inner {
        padding: 1.6rem 0;
        align-items: center;
    }
    .nav__logo img{
        width: 8.7rem;
    }
    .nav__auth .nav__cart {
        margin: 0;
    }
    .nav__burger{
        cursor: pointer;
    }
    .nav__burger--is-open {
        z-index: 5;
        right: 5rem;
        position: fixed;
        filter: invert(98%) sepia(3%) saturate(162%) hue-rotate(349deg) brightness(120%) contrast(100%);
    }

    .nav__links {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--nav-bg);
        transform: translate(-100vw);
        z-index: 3;
    }

    .nav__links--visible {
        transform: translate(0);
    }

    .nav__link {
        padding: 1.5rem 0;
        color: white;
    }
}